# Only used for local development (docker-compose.yml)

# When deployed as Native Apps, this will be provided either from
# spec_service.yaml, provider by consumers, or reference

OPENAI_API_KEY=your_openai_api_key_here

SNOWFLAKE_USER=${SNOWFLAKE_USER}
SNOWFLAKE_PASSWORD=${SNOWFLAKE_PASSWORD}
SNOWFLAKE_ACCOUNT=${SNOWFLAKE_ACCOUNT}
SNOWFLAKE_WAREHOUSE=${SNOWFLAKE_WAREHOUSE}
SNOWFLAKE_DATABASE=${SNOWFLAKE_DATABASE}
SNOWFLAKE_SCHEMA=${SNOWFLAKE_SCHEMA}
SNOWFLAKE_ROLE=${SNOWFLAKE_ROLE}